*
  box-sizing: border-box
body
  font-family: sans-serif
  background: #E5E5E5
  padding-top: 46px
.header
  background-color: #0050B3
  padding: 6px 0
  position: fixed
  top: 0
  left: 0
  width: 100%
  &-block
    max-width: 1200px
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
.search
  &-input
    padding: 5px 30px 5px 12px
    width: 336px
    background: #FFFFFF
    border: 1px solid #D9D9D9
    border-radius: 4px
    background-image: url('../img/search-icon.svg')
    background-repeat: no-repeat
    background-position: right 12px center
    font-size: 14px
    line-height: 22px
.navigation
  display: flex
  align-items: center
  &-panel
    margin-left: 12px
    display: flex
    align-items: center
  &-link
    display: flex
    align-items: center
    color: #ffffff
    text-decoration: none
    font-size: 14px
    font-weight: 600
    line-height: 22px
    margin-left: 12px
    &:before
      content: ''
      width: 1px
      height: 16px
      background-color: #003A8C
      margin-right: 12px
    &:last-child:after
      content: ''
      width: 1px
      height: 16px
      background-color: #003A8C
      margin-left: 12px
.user
  display: flex
  align-items: center
  &-avatar
    margin-right: 8px
  &-name
    font-size: 14px
    font-weight: 600
    line-height: 22px
    color: #fff
.icons
  &-panel
    display: flex
    align-items: center
.header
  &-icon
    fill: #002766
    &:hover
      fill: #fff 
.icon 
  &-link
    display: flex
    align-items: center
    margin-left: 17px
    &:last-child:before
      content: ''
      width: 1px
      height: 16px
      background-color: #003A8C
      margin-right: 12px 
.container
  max-width: 1200px
  margin: 0 auto
  display: flex
  justify-content: space-between
.menu
  &-sidebar
    margin-top: 18px
    max-width: 192px
    margin-right: 12px
.menu
  &-sidebar .user
    padding-left: 10px
.menu
  &-sidebar .user-avatar
    width: 24px
    height: 24px
.menu
  &-sidebar .user-name
    color: #262626
    font-size: 14px
    font-weight: normal
    line-height: 22px
.nav
  &-group
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 12px
    margin-bottom: 24px
  &-link 
    padding: 4px 8px
    display: flex
    align-items: center
    border-radius: 4px
    text-decoration: none
    color: #595959
    line-height: 22px
    font-weight: 
    font-size: 14px
  &-text
    margin-left: 8px
    &_link
      color: #1890FF
      font-size: 14px
      font-weight: 600
      line-height: 22px
.nav
  &-link.active
    background: #fff
    color: #262626
.nav
  &-title
    padding-left: 10px
    color: #262626
    font-weight: 600
    font-size: 12px
    line-height: 20px
    margin-bottom: 4px
    margin-top: 0
.main
  &-feed
    margin-top: 18px
    max-width: 588px
    flex-grow: 1
.create
  &-post 
    background: #FFFFFF
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15)
    border-radius: 4px
    overflow: hidden
    width: 100%
    &-header
      padding: 9px 16px
      background: #F5F5F5
    &-title 
      margin: 0
      color: #595959
      font-size: 14px
      font-weight: 600
      line-height: 22px
    &-body
      padding-top: 16px
      padding-left: 16px
      padding-right: 16px
      padding-bottom: 24px
      display: flex
      align-items: flex-start
    &-input
      width: 100%
      padding-top: 8px
    &-footer
      display: flex
      align-items: center
      flex-wrap: wrap
      padding: 0 16px 16px 16px
      &:before
        content: ''
        width: 100%
        height: 1px
        background: #E8E8E8
        margin-bottom: 16px
.tag
  background: #F5F5F5
  border-radius: 48px
  border: none
  padding: 9px 12px
  display: flex
  align-items: center
  margin-right: 8px
  cursor: pointer
  &-icon
    margin-right: 8px
    &:last-child
      margin-right: 0
.post
  background: #FFFFFF
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15)
  border-radius: 4px
  margin: 16px 0
  padding: 16px
  &-footer
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    &::before
      content: ''
      width: 100%
      height: 1px
      background: #E8E8E8
      margin-bottom: 16px
  &-button 
    background-color: #fff
    border: none
    display: flex
    align-items: center
    cursor: pointer
    &-text 
      color: #595959
      font-size: 14px
      font-weight: 600
      line-height: 22px
      margin-left: 8px
  &-header
    display: flex
    justify-content: space-between
    margin-bottom: 16px
    &-button 
      background-color: #fff
      border: none
      cursor: pointer
  &-author
    color: #0050B3
    font-size: 14px
    font-weight: 600
    line-height: 22px
    text-decoration: none
    width: 100%
.post
  &-header .user-avatar
    width: 48px
    height: 48px
    margin-right: 12px
.post
  &-info
    display: flex
    flex-wrap: wrap
    &-time
      display: flex
      align-items: center
  &-time
    font-size: 14px
    line-height: 22px
    color: #8C8C8C
    &::after
      display: inline-block
      content: ''
      width: 4px
      height: 4px
      background-color: #BFBFBF
      border-radius: 50%
      margin-right: 6px
      margin-left: 6px
      vertical-align: middle
  &-text 
    font-size: 14px
    line-height: 22px
    color: #595959
    margin-bottom: 16px
    a 
      color: #096dd9
      text-decoration: none
  &-image
    border: 1px solid #bfbfbf
    border-radius: 4px
    max-width: 100%
.likes
  margin-top: 9px
  margin-bottom: 9px
  display: flex
  align-items: center
  &-counter
    color: #595959
    font-size: 14px
    line-height: 22px
    margin-left: 4px
.right
  &-sidebar
    width: 384px
.stories
  background: #FFFFFF
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15)
  border-radius: 4px
  margin-top: 18px
  margin-left: 24px
  padding: 16px
  padding-left: 24px
  &-header
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 16px
  &-title
    margin: 0
    font-size: 14px
    font-weight: 600
    line-height: 22px
  &-icon
    vertical-align: text-bottom
.story
  &-button
    display: flex
    align-items: center
    &-link 
      color: #0050B3
      text-decoration: none
      font-size: 14px
      line-height: 22px
      &:first-child::after
        content: ''
        width: 4px
        height: 4px
        background-color: #bfbfbf
        border-radius: 50%
        display: inline-block
        margin: 0 8px
        vertical-align: middle
.story
  &-image
    width: 48px
    height: 48px
    background: #f5f5f5
    border: 1px solid #d9d9d9
    border-radius: 50%
    flex-shrink: 0
    font-weight: 600
    font-size: 20px
    line-height: 28px
    display: flex
    align-items: center
    justify-content: center 
    color: #1890FF
    margin-right: 12px
  &-item
    display: flex
    align-items: center
    text-decoration: none
    margin-bottom: 16px
    &-add
      display: flex
      align-items: center
      text-decoration: none
      margin-bottom: 16px
  &-title
    display: block
    font-size: 14px
    font-weight: 600
    line-height: 22px
    color: #0050B3
  &-text 
    font-size: 14px
    line-height: 22px
    color: #8C8C8C
    width: 100%
    word-wrap: break-word
.m
  &-menu
    border: none
    width: 32px
    height: 32px
    background-color: transparent
    padding: 0
    display: none
    flex-direction: column
    justify-content: space-around
    margin-left: 0.5%
.m
  &-menu .line
    width: 100%
    height: 1px
    background-color: #fff

@media (max-width: 1254px)
  .container
    justify-content: flex-start
    width: 95%
  .right
    &-sidebar
      display: none
  .header
    &-block
      width: 95%
@media (max-width: 960px)
  .header .user
    display: none
  .navigation
    &-panel
      display: none
@media (max-width: 840px)
  .menu
    &-sidebar
      position: fixed
      left: 0
      top: 28px
      width: 100%
      max-width: 250px
      background-color: #f1f1f1
      padding-top: 12px
      padding-left: 2%
      height: 100%
      transform: translateX(-100%)
      transition: transform 0.3s
  .menu
    &-sidebar.active 
      transform: translateX(0%)
  .m
    &-menu
      display: flex
@media (max-width: 760px)
  .search
    display: none